.results-block {
  display: flex;
}

.left-side {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: $content-width;
  margin: 0 auto;
  flex: 1;

  &__planet {
    border: 1px $color-primary solid;
    border-radius: 7px;
    width: 96vw;
    padding: 0px 16px;

    &-name span {
      color: $color-primary;
    }

    &-climate span {
      color: $color-primary;
    }

    &-diameter span {
      color: $color-primary;
    }

    &-rotation span {
      color: $color-primary;
    }

    &-terrain span {
      color: $color-primary;
    }
  }
}

.right-side{
  display: flex;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  width: 100vw;
  height: 100vh;

  .details-container {
    width: 300px;
    position: fixed;
    top: 150px;
    right: 50px;
    text-align: center;
    max-height: 600px;
    padding: 10px 30px;
    background-color: $color-additional;
    color: $color-dark;
    border-radius: 7px;
  }
}
